.price-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.select-price {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: left;
}

.select-btc {
    width: 168px;
    height: 32px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.select-usd {
    display: inline-block;
    width: 217px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    height: 52px;
    object-fit: contain;
    opacity: 0.4;
    border-radius: 7px;
    background-color: #ffffff;
}