body {
  background-color: #0076FF;
}

.app-container {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 1rem;
  color: #ffffff;

  list-style: none;
  width: 90vw;
  height: 85vh;
  margin: 4vh auto;
  padding: 1rem;
  overflow: auto;
  counter-reset: item;
}